.toc {
    font-size: 130%;
    padding: 1em;
}
/*
#query-description-section { font-size: 13px; }
*/
/*
.snippet-toggle {
	margin-left: 0.8em;
}
*/
.truncate-toggle {
	margin-left: -0.5em;
}

#query-description-section p {
  margin-top: 1em;
}

#query-description-section dt {
  margin-top: 0.4em;
}

#query-description-section dd {
  margin-left: 1em;
}

#query-description-section ol, #query-description-section ul {
  margin-left: 1em;
  list-style-position: outside;
  padding-top: 0.4em;
  padding-left: 0.6em;
}

#query-description-section ol {
  list-style: decimal;
}

#query-description-section ul {
  list-style: disc;
}

#query-description-section ol > li {
  margin-bottom: 1em;
}

#query-description-section table {
  border: 1px solid black;
  border-collapse: collapse;
}

#query-description-section th, #query-description-section td {
  border: 1px solid black;
}

#attributions-section ul { 
  list-style-type: square;
	margin-left:  2em;
	list-style-position: outside;
} 
#attributions-section .data-source { margin: 3px; padding: 2px 0px; }
#attributions-section .data-source .title { font-weight:bold; }
#attributions-section .data-source .detail { margin:5px 12px; }
#attributions-section .data-source .publications { list-style-type: circle; }
#attributions-section .data-source .publications li { margin:5px 14px; font-size: 11px; }


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    make background same as hover - the path to the image is from the jQuery theme css file
    if we change jQueryUI theme, this should also be changed...
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.xor-select .ui-state-default,
.xor-select .ui-widget-content .ui-state-default,
.xor-select .ui-widget-header .ui-state-default {
  border: 1px solid #999999;
  background: #dadada url(../../wdk/css/ui-custom/custom-theme/images/ui-bg_highlight-hard_75_cbc8c8_1x100.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #212121;
}

.xor-select .ui-state-active,
.xor-select .ui-widget-content .ui-state-active,
.xor-select .ui-widget-header .ui-state-active {
  border: 1px solid #aaaaaa;
  background: whiteSmoke;
  font-weight: normal;
  color: #212121;
}

.xor-select { padding-left: 15%; position: relative; top: 1px; white-space: nowrap; }
.xor-select label { font-weight: bold; }
.xor-select .ui-button { margin-right: 0.3em; border-bottom: none; z-index: 0; }
.xor-select .ui-button.ui-state-active { z-index: 10; }
.xor-select .ui-button span { padding: 0.1em 1em; }

/* static fold change */
.params {
  position: relative;
}


/*
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    CSS rules for Formula = BEGIN
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.formula { font-style: italic;font-weight:bold; }
.formula .left-hand-side, .formula .right-hand-side { display: inline-block; vertical-align: middle; }
.formula .left-hand-side::after { content: " ="; }
.formula .right-hand-side { padding-left: 0.4em; }
.formula .division > div { text-align: center; padding: 0px 4px; }
.formula .division .numerator { border-bottom: 1px solid; }

.group-detail.ui-widget-content {
  background: whiteSmoke;
}

/*
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    CSS rules for Formula = END
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

/*
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    CSS rules for Fold Change Expression graph = BEGIN
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.fold-change {
  width: 980px;
  margin: auto;
}

.fold-change .param-item {
  padding-left: 1em;
}

.fold-change .fold-change-graphic {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  padding-right: 1em;
}

.fold-change .fold-change-graphic > div {
  float: right;
}

.fold-change .fold-change-img {
  position: relative;
  width: 402px;
  height: 302px;
  border: 1px solid #AAA;
  border-radius: 4px;
  padding: 1px;
  margin-top: 3em;
}

.fold-change .param {
  display: inline-block;
}
.fold-change .param-control .param {
  width: 93%; /* force wrap */
  text-indent: -2em;
  position: relative;
  left: 2em;
}

.fold-change .fold-change-params {
  display: inline-block;
  width: 49%;
  border-right: 1px inset #AAA;
}

.fold-change .param-item {
  /* padding-left: 15%; was 2em */
}

.fold-change .param-item label {
  float: none;
  margin-left: -1.5em;
}

.fold-change .param-control {
  margin: 0;
}

.fold-change .fold-change-help {
  margin-top: 1em;
  width: 400px;
}

.fold-change .fold-change-help.detailed-help {
  margin-top: 0em;
}

.fold-change .fold-change-help p {
  margin: 0.4em 0;
}

.fold-change .fold-change-help a {
  vertical-align: top;
}

.fold-change .param-line {
  padding: 0.2em;
  font-size: larger;
}
.fold-change .text .prompt {
  font-weight: bold;
}
.reference, .comparison {
  width: 40%;
  padding: 1em;
  margin-bottom: 8px;
  border: 1px solid #AAA;
  background-color: whitesmoke;
  border-radius: 4px;
}
.reference,
.reference div:nth-child(2) .jstree-classic.jstree-focused {
  /* background-color: rgb(200, 217, 243); */
  background-color: whitesmoke;
}
.comparison,
.comparison div:nth-child(2) .jstree-classic.jstree-focused {
  /* background-color: rgb(240, 179, 179); */
  background-color: whitesmoke;
}
.reference-label {
  color: rgb(29,113,194);
}
.comparison-label {
  color: rgb(128,22,32);
}
.samples .reference-label, .samples .comparison-label {
  border: 1px solid #AAA;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  background-color: whitesmoke;
  font-weight: bold;
  padding: 2px 4px;
  margin-top: 2px;
  position: relative;
  top: 1px;
}
.reference .text, .comparison .text {
  font-size: small;
}
.reference .param-line, .comparison .param-line {
  background-color: white;
  border: 1px solid #AAA;
  border-radius: 4px;
  padding: 0.4em;
  margin-top: 1em;
}
.reference .param-multiPick.dependentParam table,
.comparison .param-multiPick.dependentParam table {
  width: 100%;
}
.reference .param-multiPick.dependentParam ul,
.reference .checkbox-tree,
.comparison .param-multiPick.dependentParam ul,
.comparison .checkbox-tree {
  max-height: 100px;
  background: white;
  overflow-y: scroll;
  border-radius: 4px;
  border: 1px solid #AAA;
}
.samples {
  width: 900px;
  margin: 0 auto;
}
#min_max_avg_ref, #min_max_avg_comp {
  font-weight: bold !important;
}
#fold_change {
  width: 2em;
}
.fold-change .help-link {
  padding-right: 4px;
}
.fold-change .formula {
  padding: 1em 0em;
}

/*
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    CSS rules for Fold Change Expression graph = END
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
