(function(cfg) {
  cfg.projectId = "${project}";
  cfg.facebookId = "${facebook}";
  cfg.twitterId = "${twitter}";
  cfg.youtubeId = "${youtube}";
  cfg.quicksearch = {
    enabled: ${quicksearch.enabled},
    left: "${quicksearch.left}",
    right: "${quicksearch.right}"
  };
}(window.__EUPATHDB_CONFIG__));
